# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist
build

# Testing
coverage
.nyc_output

# IDE and Editor files
.idea
.vscode
*.sublime-workspace
.project
.classpath
.c9/
*.launch
.settings/

# Environment files
.env
.env.*

# Version control
.git
.gitignore

# OS files
.DS_Store

# Temporary files
.temp
.tmp

# Other
README.md
CHANGELOG.md
docker-compose*
Dockerfile*
.dockerignore 